
  nav {
    background-color: #FEBAAD;
  }
   
  .Todo-container {
    background:rgb(236, 236, 240);
    height:100%;
    width:90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:15px;
    margin: auto 15;
    box-shadow:0 5px 15px 0;
    font-family:'Work Sans',sans-serif;
    }
    
    .pull-right1 {
      float: right;
      position: relative;
      margin-right: 30px ;
      font-size: 2rem
    }

    .text-center{
      padding:9px;
    }

    .card_title{
      text-align: center;
      margin: 0%!important;
      font-weight: bold;
      font-variant: small-caps;
      font-size: 2rem!important;


    }
    .card_title_div{
      margin-bottom:10px !important;
    }

    
    .card_body{
      font-style: italic;
      font-size: 1.5rem!important;

    }

    .content{
      margin:0px !important
    }

    .divider{
      margin-bottom:10px !important
    }

    .card {
      max-width: 90%;
      background-color: #FAFAD2!important;
      margin-bottom: 5px!important; 
    }

    .sidebar-search{

      width:50%!important;
      height:30%!important;
      margin:20px!important;
      font-size:2.5rem!important;
      text-align: center
  }
    
  .searchbar{
    align-content: center;
    background-color: #FAFAD2;
    overflow: scroll;
    width: 50%;
    height:50%;
    margin-left: 30%!important;
    margin-top: 10%!important;
 
    box-shadow:0 5px 15px 0;
    
    outline: 'none';

  }
  .modal-impl{
    background-color: #FEBAAD;
    text-align:center;
    margin: 0 auto!important;
  }

  .chips_div{
    margin: 10px;
    display: 'flex';
    justify-content: 'center';
    flex-wrap: 'wrap';
  }

  .chips{
    font-size: 1rem!important;
    font-weight: bolder;
    margin-left: 2px
  }

  .todo-search{
    width: 60%;
    text-align:center;
    margin: 0 auto!important;
  }
  .edit-todo{
    text-align:center;
    margin: 0 auto!important;
  }

  .pull-right-date {
    float: right;
    font-weight: bolder;
    margin-right: 1px ;
    font-size: 1rem!important
    
  }


